/* fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* general */
* {
    box-sizing: border-box;
}
/* head */
header{
    margin: 0;
    padding: 0;
}

#golden-shoes-text{
    font-family: 'Playfair Display', serif;
    font-size:3vw;
    text-align: center;
    vertical-align: middle;
    padding-top:2%;
    margin:0;
}

@media only screen and (max-width: 768px){
    #golden-shoes-text{
        font-family: 'Playfair Display', serif;
        font-size:8vw;
        text-align: center;
        vertical-align: middle;
        padding-top:5px;
        margin:0;
    }
}

#site-head{
    background-color: #fffcbf;
    height: 18vh;
    width : 100%;
    padding:0;
    margin:0;
}
@media only screen and (max-width: 768px){
    #site-head{
        height:36vh;
    }
}

#logo{
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

#nav{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.contain{
    max-width:100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* nav hover animations */

#home{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
    background-color: #fffcbf;
    transition: background-color 2s;
}

#home:hover{
    background-color: #ff6868;
}

#products{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
    background-color: #fffcbf;
    transition: background-color 2s;
}

#products:hover{
    background-color: #ff6868;
}

#my-account{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
    background-color: #fffcbf;
    transition: background-color 2s;
}

#my-account:hover{
    background-color: #ff6868;
}

#contact{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
    background-color: #fffcbf;
    transition: background-color 2s;
}

#contact:hover{
    background-color: #ff6868;
}

#cart{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
    background-color: #db9d9d;
    transition: background-color 2s;
}

#cart:hover{
    background-color: #ff6868;
}

/* body */
body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
body{
    height: 200vh;
    }
}
/* shop body section */
#site-body{
    background-color: #f7f294;
    height : 64vh;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px){
#site-body{
    height: 120vh;
    }
}

#shop-body{
    height : 100%;
    margin: 0;
    padding:0;
    background-color:#f9f9f2;
}

@media only screen and (max-width: 768px){
#shop-body{
    height: 70%;
    }
}

#preview-window{
    height: 100%;
}
/* preview gallery */
#preview-window{
    padding: 5%;
    margin:0;
}

.main-product{
    max-height: 90%;
    padding:10px;
    max-width: 100%;
    display: block
}
.thumb {
    padding-right: 10px;
    padding-top: 10px;
    opacity: 0.6;
}

.thumb:hover {
    opacity: 1;
}

@media only screen and (max-width: 460px){
    .thumb {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    #preview-window{
        height:80%;
    }
}

#social-media{
    height: 100%;

    font-size:20pt;
}

@media only screen and (max-width: 768px){
    #social-media{
        height:20%;

    }
}

.soc-icon{
    margin-right: 18px;
    margin-bottom: 18px;
}

.contain-van{
    width:100%;
    max-width:600px;
    max-height: 400px;
    height: auto;
}

/* search & categories section */
#categories {
    height: 25vh;
    padding: 0;
    margin: 0;
}

.search-title{
    font-family: 'Playfair Display', serif;
    font-size:16pt;
    margin:0;
    padding-left: 15px;
}

#search-box{
    padding:0;
    height: 25vh;
}

.categories-title{
    font-family: 'Playfair Display', serif;
    font-size:16pt;
    margin:0;
    padding-left: 15px;
}

#categories-box{
    padding:0;
    height:25vh;
}

.container{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:10pt;
}


/* footer */
#site-footer{
    background-color: #fffcbf;
    width: 100%;
    height: 18vh;
    margin:0;
    padding:0;
}